# OS
.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.*
!.env.example

# Docker
*.log

# Binary
bin/

# Generated
services/*/internal/delivery/grpc/pb/
